/*Gerais*/
body{
	background-color:  #FFE748;
	font-family: "Nunito", sans-serif;
	max-width: 220vh;
	max-height: 220vh;
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar{
  width: 7px;}

body::-webkit-scrollbar-track {
  background: #000000;}

body::-webkit-scrollbar-thumb {
  background-color: #FFE748;  
  border-radius: 20px;       
 }

a{
	color: #145ac0;
	text-decoration: underline 1px;
	font-size: 100%;
}

#menu a {
	color: #FFE748;
	text-decoration: none;
	font-size: 100%;
}


/*Menu Superior*/
#menu{
	align-content: space-around;
	background: #121212   ;
    color: #FFE748;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: relative;
	z-index: 999;
	height: 60px;
	margin: 0;
	padding: 0;
	width: 100%;
	}

.botoes{
	font-weight: bold;
	height: 30px;
	margin: 5px;
	text-align: center;
	width: 95px;}

#header{
	z-index: 9999;
	width: 100px;
	height: 29.5px;
	color: #ffffff;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	text-align: left;
	align-content: space-around;
	margin-left: 25px;
	margin-top: 10px;
	position: absolute;
	padding: 0;
    object-fit: cover;
}

#linha{
	position: absolute;
	height: 20px;
	right: 100px;
	top: 15.5px;
	border: 1px solid #FFE748;
}

#titulo{
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
}

#titulo h2{
	margin: 15px 0 0 0;
}

#catalogo img{
    margin: 0;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
    -webkit-box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 15px 15px 0px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 15px 15px 0px rgba(0, 0, 0, 0.7);
	}

#catalogo{
	display: inline-flex;
	flex-wrap: wrap;
  justify-content: flex-start;
	align-content: center;
  margin-left: 25px;
	margin-top: 25px;
	padding: 0;
}

.imagens{
	text-align: center;
	width: 19.5%;
	margin-top: 10px;
}

  .imagens span{
  
  color: rgba(255, 231, 72, 0);
  border-radius: 50%;
  font-size: 75px;
  position: absolute;
  transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
  z-index: 1;
  height: 150px;
  width: 150px;
  line-height: 150px;
  }

.imagens span:hover{
    color: #FFE748;
    font-size: 75px;
    background-color: rgba(0, 0, 0, 0.493);
  }


.imagens p {
	font-size: 16px;
	font-weight: bold;
}

.botao-continuar{
	background: #000000;
	border: 1px #000000;
	border-radius: 5px;
	color: #FFE748;
	display: inline-block;
	height: 40px;
	letter-spacing: -1px;
	line-height: 40px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	width: 150px;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	justify-content: center;
	margin-left: 550px;
	margin-right: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

.botao-continuar:hover{
	transform: scale(1.1);
	border-radius: 15px;
	background-color: #FFE748;
	color: #000000;
	border: 1px solid #000000;
}       