/* Gerais */
body{
	background: #121212;
	font-family: "Nunito" ,sans-serif;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth
  
	}

body::-webkit-scrollbar{
  width: 7px;}

body::-webkit-scrollbar-track {
  background: #000000;}

body::-webkit-scrollbar-thumb {
  background-color: #FFE748;       
 }

/* Home */
/* Links */
a{
color: #ffffff;
font-size: 90%;
text-decoration: none;
}

/* Header/menu */
#menu{
	align-content: space-around;
	background: #2a2f35;
	color: #ffffff;
	display: block;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	position: fixed;
	z-index: 999;
	height: 100vh;
	margin: 0;
	padding: 0;
	width: 200px;}

.linha{
  z-index: 1000;
  width: 188px;
  border-bottom: 2px solid #ffffff91;
  margin: 20px 10px 20px 10px;
}

#menu div{
  margin: 5px;
}

#bloco a{
  padding-left: 10px;
}

#btns-search{
  color: #FFE748;
  vertical-align: middle;
}

#bloco2{
  justify-content: center;
  height: 180px;
  font-size: 16px;
	font-weight: bold;
	margin: 0;
	align-content: center;
	text-align: start;
	line-height: 30px;
	width: 96%;
	z-index: 98;
  overflow: auto;
}

#bloco2::-webkit-scrollbar{
  width: 7px;}

#bloco2::-webkit-scrollbar-track {
  background: #23282e;}

#bloco2::-webkit-scrollbar-thumb {
  background-color: #FFE748;  
  border-radius: 0;       
}

#bloco2 div{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#menu a{
  padding-left: 10px;
}

#bloco2 p{
  margin: 0;
	font-size: 14px;
}

#btns-add{
    vertical-align: middle;
    color: #ffffff;
}

.quadradinho{
    vertical-align: middle;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: #23282e;
}

.botoesespeciais{
  margin-left: 0;
  margin: 0;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  width: 180px;
  border-radius: 5px;
  background-color: #23282e00;
  font-size: 16px;
	font-weight: bold;
	align-content: center;
	text-align: start;
	line-height: 28px;
	z-index: 98;
  transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	justify-content: center;
}

.botoesespeciais2{
  margin-left: 0;
  margin: 0;
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  width: 180px;
  border-radius: 5px;
  background-color: #23282e;
  font-size: 16px;
	font-weight: bold;
	align-content: center;
	text-align: start;
	line-height: 28px;
	z-index: 98;
  transition-property: background;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	justify-content: center;
}


.botoes{
	font-size: 16px;
	font-weight: bold;
	height: 28px;
	margin: 0;
	align-content: center;
	text-align: start;
	line-height: 28px;
	width: 100%;
	z-index: 98;
}

.botoes2{
	font-size: 90%;
	font-weight: bold;
	height: 28px;
	margin: 2px;
	align-content: center;
	text-align: start;
	line-height: 28px;
	width: 100%;
	z-index: 98;	
}

#avatar{
	vertical-align: middle;
	justify-content: flex-end;
	align-content: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	z-index: 5;
	object-fit: cover;
	padding: 5px;
}

.redondinho{
    vertical-align: middle;
    height: 45px;
	width: 90%;
    border-radius: 25px;
    background-color: #23282e;
	margin-bottom: 10px;
}

.redondinho a{
  padding: 0px;
	font-size: 16px;
	font-weight: bold;
}

#header img{
    height: 40px;
    width: 110px;
}

#header{
	font-size: 50px;
	z-index: 9999;
	width: 100%;
	height: 50px;
	color: #ffffff;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	text-align: center;
	align-content: center;
	margin: 0;
	padding: 0;}

    #checkbox{
        border-radius: 50px;
        color: #FFE748;
    }
    
    .label{
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 5px;
        text-align: left;
        align-content: flex-start;
        justify-content: left;
    }
    
    .border{
        border: 2px solid red;
    }



/* Imagens */
#bloco-playlists{
	position: absolute;
  margin-top: 2%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#bloco-playlists2{
	position: absolute;
	top: 41%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#bloco-playlists3{
	position: absolute;
	top: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#bloco-playlists4{
	position: absolute;
  left: 5%;
	top: 140%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.texto{
  text-align: center;
  color: white;
  font-size: 17px;
  margin-bottom: 12%;
  margin-top: 0;
}

.texto2{
  text-align: center;
  color: white;
  font-size: 17px;
  margin-bottom: 14%;
  margin-top: 0;
}

.playlists{
		align-items: center;
		border-radius: 20px;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 150px;
	  justify-content: flex-start;
	  margin-top: 0;
		margin-bottom: 40px;
		object-fit: cover;
		padding-right: 20px;
    padding-left: 20px;
		width: 300px;
}

.playlists2{
		align-items: center;
		border-radius: 25px;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 275px;
	  justify-content: flex-start;
	  margin-top: 0;
		margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 45px;
		object-fit: cover;
		width: 275px;
}

.playlists3{
		align-items: center;
		border-radius: 20px;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 150px;
	  justify-content: flex-start;
	  margin-top: 0;
		margin-bottom: 40px;
		object-fit: cover;
		padding-right: 20px;
    padding-left: 20px;
		width: 300px;
}

.playlists4{
		align-items: center;
		border-radius: 15px;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 150px;
	  justify-content: center;
	  margin-top: 15px;
		margin-bottom: 15px;
    margin-left: 12.5px;
    margin-right: 12.5px;
		object-fit: cover;
		width: 150px;
}

h2{ 
    position: sticky;
		font-weight: bold;
		color: #FFE748;
		font-size: 20px;
		flex-direction: row;
		justify-content: flex-start;
		margin: 0 0 0 60px;
		padding-right: 5px;
	 	padding-left: 5px;
		z-index: 45;
}

#bloco-playlists2 h2{
	font-weight: bold;
	color: #FFE748;
	font-size: 20px;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 0 0 60px;
	padding-right: 5px;
	padding-left: 5px;
	z-index: 45;
}

#bloco-playlists3 h2{
	font-weight: bold;
	color: #FFE748;
	font-size: 20px;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 0 0 60px;
	padding-right: 5px;
	padding-left: 5px;
	z-index: 45;
}

#bloco-playlists4 h2{
	font-weight: bold;
	color: #FFE748;
	font-size: 20px;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 0 15px 12px;
	padding-right: 5px;
	 padding-left: 5px;
	z-index: 45;
}


.container {
	margin: 0 12px 40px 12px;
	object-fit: cover;
	padding: 0;
	width: 300px;
	height: 150px;
  position: relative;
	align-items: center;
	border-radius: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 2;
  transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.container2 {
	margin: 0 12px 40px 12px;
	object-fit: cover;
	padding: 0;
	width: 300px;
	height: 300px;
  position: relative;
	align-items: center;
	border-radius: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 2;
  transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

.container4 {
	margin: 0 12px 40px 12px;
	object-fit: cover;
	padding: 0;
	width: 175px;
	height: 300px;
  position: relative;
	align-items: center;
	border-radius: 20px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	z-index: 2;
  transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

#image {
  position: absolute;
}

.container:hover{
	transform: scale(1.1);
		cursor: pointer;
		z-index: 999;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
}

.container2:hover{
	transform: scale(1.1);
		cursor: pointer;
		z-index: 999;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
}

.container4:hover{
	transform: scale(1.1);
		cursor: pointer;
		z-index: 999;
		transition-duration: 0.5s;
		transition-timing-function: ease-in-out;
}

.burguesa{
  border-radius: 25px;
  height: 300px;
  width: 200px;
  background-color: #2a2f35;
  align-content: center;
  text-align: center;
}

.opt1{
  vertical-align: middle;
  width: 80%;
  height: 15%;
  border-radius: 12px;
  background-color: yellow;
	color: #000000;
	display: inline-block;
  font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	justify-content: center;
}

.opt1:hover{
	border: 1px solid yellow;
	border-radius: 25px;
	background-color: #23282e;
	color: #ffffff;
		}

.opt1 span{
  vertical-align: middle;
  margin-right: 5px
}

.opt2{
  vertical-align: middle;
  margin-top: 11%;
  width: 80%;
  height: 15%;
  border-radius: 12px;
  background-color: yellow;
	color: #000000;
	display: inline-block;
  font-weight: bold;
	letter-spacing: -1px;
	line-height: 30px;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	justify-content: center;
}

.opt2:hover{
	border: 1px solid yellow;
	border-radius: 25px;
	background-color: #23282e;
	color: #ffffff;
		}

.opt2 span{
  vertical-align: middle;
  margin-right: 5px
}

.wrapper {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, auto);
  }

#section1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section3 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section4 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section5 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section6 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}

#section7 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section8 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
#section9 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
    
}
    
.item {
  transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}
      
.item:hover { 
        transform: scale(1.1);
}    

    .arrowleft__btn{
      
      color: yellow;
      text-decoration: none;
      font-size: 7em;
      padding: 0 15px 0 5px;
      text-align: center;
      z-index: 1;
      top:0; bottom:0; left:0;
      
    }
    
    .arrowright__btn{
      
      color: yellow;
      text-decoration: none;
      font-size: 7em;
      padding: 0 5px 0 15px;
      text-align: center;
      z-index: 1;
      top:0; bottom:0; right: 0;
    }

.arrowleft__btn2{
      
      color: yellow;
      text-decoration: none;
      font-size: 7em;
      padding: 50px 15px 0 5px;
      text-align: center;
      z-index: 1;
      top:0; bottom:0; left:0;
      
    }
    
    .arrowright__btn2{
      
      color: yellow;
      text-decoration: none;
      font-size: 7em;
      padding: 50px 5px 0 15px;
      text-align: center;
      z-index: 1;
      top:0; bottom:0; right: 0;
    }

.deslizando{
  width: 85%;
  position: absolute;
  left: 16%;
  height: 100%;
  scroll-behavior: smooth;
}
